@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
  color: #222;
}
a {
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease-in-out;
}
a:link {
  text-decoration: none;
}
.small {
  font-size: smaller;
}

footer {
  margin-top: 4vh;
}

.material-icons,
.material-icons-round {
  vertical-align: middle;
}

h2 > span {
  font-size: 2.5em;
}

.md-12 {
  font-size: 12px;
}

.md-18 {
  font-size: 18px;
}

.md-27 {
  font-size: 27px;
}

.md-32 {
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-top: 15px;
}

.flaga {
  width: 24px;
  height: 18px;
}
