nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
.options {
  display: flex;
  justify-content: space-around;
  text-align: right;
  width: 35%;
}
